* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

/*---------------- INDEX -----------------*/
/**** Barra de navegación ****/
header {
    background-color: black;
    background-image: url(../img/header.jpg);
    height: 100vh;
    min-height: 60rem;
    background-size: cover;
    background-position: center bottom;
}

.slim {
    /* NavBar Slim */
    height: 10vh;
    min-height: 2vh;
    background-position: center center;
}

.div-header {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 2rem;
}

.div-header h1 {
    flex: 0 1 auto;
    align-self: flex-end;
    color: white;
    background-color: rgba(150, 150, 150, 0.2);
    margin-bottom: 5rem;
    border: 1px solid aliceblue;
    padding: 2rem;
}

.barra {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    width: 100%;
}

.navegacion a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.logo a {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

.logo i {
    font-size: 2.5rem;
    display: block;
}

.logo p {
    font-size: 2rem;
    font-weight: 800;
}

.logo span {
    font-weight: 100;
    font-style: italic;
}

/*** Main: Departamentos y casas en venta ***/
.deptos {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    text-align: center;
    padding: 2rem;
}

.deptos h2 {
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.div-deptos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    border-radius: 2rem;
    background-color: rgb(180, 193, 218);
}

.card img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    background-size: cover;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    text-align: left;
}

.info h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.info span {
    color: rgb(44, 88, 230);
    font-weight: 700;
}

.font-icons {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 2rem auto 0 auto;
}

.font-icons i {
    color: black;
    font-size: 4rem;
}

.card a,
.verTodas {
    /* botones */
    text-decoration: none;
    margin: 3rem auto;
    background-color: rgb(44, 88, 230);
    padding: 1.5rem;
    color: white;
    font-weight: 700;
    border-radius: 0.3rem;
    text-align: center;
}

.verTodas {
    margin-right: 0;
}


/*** Seccion: Encuentra ***/
.encuentra {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../img/encuentra.jpg);
    background-position-y: -10rem;
    line-height: 5rem;
    font-weight: 500;
    font-size: 1.8rem;
    height: 50vh;
    padding: 4rem 0;
    color: white;
}

.encuentra h2 {
    font-size: 3.5rem;
}

.encuentra a {
    align-self: center;
    background-color: rgb(44, 88, 230);
    text-decoration: none;
    color: white;
    padding: 0.5rem 4rem;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
}

/*** Wrapper Blog and test ***/
.blog-test {
    display: flex;
    flex-flow: row nowrap;
}

/*** Seccion: Blog ***/
.blog {
    display: flex;
    width: 50%;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.blog h2 {
    flex: 1 0 auto;
    width: 100%;
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: 200;
}

article.card {
    display: flex;
    width: 48%;
    flex-flow: column nowrap;
}

div.info {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

div.info h4 {
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 1.7rem;
    border-bottom: .6rem solid rgb(44, 88, 230);
}

div.info em {
    color: rgb(44, 88, 230);
}

/*** Aside: Testimoniales ***/
.testimoniales {
    display: flex;
    width: 50%;
    flex-flow: column wrap;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.testimoniales h2 {
    flex: 0 1 auto;
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: 200;
}

.quote {
    /* width: auto; */
    background-color: rgb(44, 88, 230);
    color: white;
    font-size: 1.8rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    transform: skewX(-10deg);
    font-weight: 600;
}

.quote span {
    font-size: 3rem;
}

.quote p {
    text-align: right;
    margin-right: 3rem;
    font-style: italic;
    font-weight: 500;
}

blockquote {
    margin: 0px 3rem;
}


/**FOOTER**/
footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: white;
    background-color: rgb(59, 59, 59);
}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.footer-items {
    margin: 2rem;
}

.footer-items a,
.footer-items p {
    margin: 0 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.footer-items a:hover {
    color: rgb(77, 208, 248);
    font-weight: 600;
}

/* =========================== CONTACTO ===========================*/
.container-contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 2rem;
    background-size: cover;
    background-image: url(/img/destacada2.jpg);
    text-align: center;
    min-height: 110vh;
    padding-top: 3rem;
}

.container-contact h2 {
    color: rgb(50, 187, 241);
    background-color: rgba(58, 58, 58, 0.8);
}

.contacto {
    align-self: center;
    min-width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 2rem;
    text-align: left;
    background-color: rgba(58, 58, 58, 0.8);
    border-radius: 1rem;
    color: white;
    padding: 3rem;
}

.contacto.hiddenFrame {
    animation: fade-out .3s forwards;
}

.form-item {
    margin: 4rem;
}

.form-item input,
.form-item select,
.form-item textarea {
    color: white;
    background: none;
    border: none;
    border-bottom: 1px solid white;
}

.form-item .select-option {
    background: none;
    color: black;
}

.form-item textarea {
    border: 1px solid white;
}

.form-item ::placeholder {
    color: white;
}

.form-item input {
    height: 2rem;
}

.name-feedback,
.lastName-feedback,
.email-feedback,
.country-feedback,
.text-comment-feedback {
    /*text-align: center !important;*/
    color: rgb(194, 112, 112);
    font-size: 1.3rem;
}

.name-feedback span,
.lastName-feedback span,
.email-feedback span,
.country-feedback span,
.text-comment-feedback span {
    font-weight: 900;
}

.submit {
    display: flex;
    justify-content: center;
}

#btn-submit {
    background-color: rgb(44, 88, 230);
    color: aliceblue;
    border-radius: 1rem;
    padding: 1rem 3rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.msg-sent {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    background-color: rgba(48, 48, 48, 0.7);
    padding: 2rem;
    color: white;
}

.msg-sent h2 {
    background: none;
}

.msg-sent.showFrame {
    animation: slideInLeft 1.5s ease-in;
}

@keyframes fade-out {
    to {
        display: none;
        opacity: 0;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

/*======================= PAGINA NOSOTROS ======================*/
.container-us {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 110vh;
    width: 100%;
    padding: 0 20rem;
    scroll-behavior: smooth;
}

.container-us h2 {
    text-align: center;
    font-style: italic;
    font-size: 2.5rem;
    padding: 2rem 0rem;
}

.us-story {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

.us-story img {
    height: 40vh;
}

.us-story p {
    text-align: justify;
    width: 30vw;
}

/* ================= PAGINA ANUNCIOS ========================*/
.anuncios {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: stretch;
    width: 100%;
}

.anuncios h2 {
    text-align: center;
    padding-top: 2rem;
}

.caracteristicas {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card {
    width: 100%;
}

.card {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: display-img;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

@keyframes display-img {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/* ESTILOS GLOBALES PARA OCULTAR O MOSTRAR */
.show {
    display: block;
}

.hidden {
    display: none;
}

a.page-selected {
    color: rgb(44, 88, 230);
}

.Navegacion a:hover {
    color: rgb(44, 88, 230);
}

/** =============================== MEDIA QUERYS ===========================*/

@media (max-width: 1299px) {
    .div-deptos {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-test {
        display: flex;
        flex-flow: column nowrap;
    }

    .blog,
    .testimoniales {
        width: 100%;
    }
}


@media (max-width: 991px) {}

@media (max-width:768px) {
    .navegacion {
        display: none;
    }
  
    .div-deptos {
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }

    .encuentra {
        line-height: 4rem;
    }

    .encuentra h2 {
        text-align: center;
    }

    .encuentra p {
        width: 80%;
        text-align: center;
    }

    .blog {
        flex-flow: column nowrap;
    }

    article.card {
        width: 100%;
    }
}

@media (max-width: 575px) {
    header h1 {
        text-align: center;
    }
}