* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

/**Navegación**/
header {
    background-color: black;
    background-image: url(../img/header.jpg);
    height: 100vh;
    min-height: 60rem;
    background-size: cover;
    background-position: center bottom;
}

.contenido-header {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 2rem;
}

.contenido-header h1 {
    flex: 0 1 auto;
    align-self: flex-end;
    color: white;
    background-color: rgba(150, 150, 150, 0.2);
    margin-bottom: 5rem;
    border: 1px solid aliceblue;
    padding: 2rem;
}

.other {
    height: 10vh;
    background-position: center center;
    min-height: auto;
}

.barra {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    width: 100%;
}

.Navegacion a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.Navegacion a:last-of-type {
    margin-right: 0;
}

.logo a {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    text-decoration: none;
    color: aliceblue;
    gap: 10px;
    height: auto;
}

.logo i {
    font-size: 3rem;
    display: block;
}

.logo p {
    font-size: 2rem;
    font-weight: bolder;
}

.logo span {
    font-weight: 100;
    font-style: italic;
}

/**SECTION MAS**/
.section-mas {
    display: flex;
    flex-flow: column nowrap;
    margin: 3rem auto;
    text-align: center;
}

.section-mas a {
    flex: 0 1 auto;
    align-self: flex-end;
    border-radius: 0.5rem;
}

.section-mas h2 {
    font-size: 4rem;
    font-weight: 100;
}

.section-mas .caracteristicas {
    display: flex;
    margin: 1rem auto;
}

.item-caracteristicas h3 {
    font-size: 3rem;
    font-weight: 700;
}

.item-caracteristicas {
    font-weight: 600;
}

.section-mas .todas {
    text-decoration: none;
    float: right;
    padding: 2rem;
    margin-right: 2rem;
    background-color: rgb(44, 88, 230);
    color: white;
    font-weight: 700;
    text-align: center;
}

.item-main {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem;
    width: 50%;
    border-radius: 0.5rem;
    background-color: rgb(180, 193, 218);
}

.item-main img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    background-size: cover;
}

.info-item-main {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    text-align: left;
}

.info-item-main h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.info-item-main span {
    color: rgb(44, 88, 230);
    font-weight: 700;
}

.item-main a {
    width: auto;
    text-decoration: none;
    margin: 3rem auto;
    background-color: rgb(44, 88, 230);
    padding: 1.5rem;
    color: white;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
}

.info-item-main .font-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.info-item-main .font-icons i {
    color: black;
    font-size: 3.5rem;
}

/**SECTION ENCUENTRA**/
.encuentra {
    display: flex;
    direction: column;
    justify-content: center;
    background-image: url(../img/encuentra.jpg);
    background-position-y: -10rem;
    line-height: 5rem;
    font-weight: 500;
    font-size: 1.8rem;
    height: 50vh;
    padding: 4rem 0;
}

.encuentra h2 {
    font-size: 3.5rem;
}

.encuentra .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 4rem;
}

.encuentra a {
    align-self: flex-end;
    background-color: rgb(44, 88, 230);
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
}

/**SECTION SEGUNDO-SECTION*/
.segundo-section {
    display: flex;
    flex-flow: row nowrap;    
    text-align: center;
    margin: 2rem auto;
    padding: 0 4rem;
}

.segundo-section h3 {
    font-size: 3rem;
    font-weight: 500;
}

.segundo-section article {
    display: flex;
    margin: 2rem;
}

/*.segundo-section article img{
    width: 40%;
}*/
.segundo-section .info-article {
    text-align: left;
    margin-left: 2rem;
    font-weight: 600;
}

.segundo-section .info-article h4 {
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 1.7rem;
    border-bottom: .6rem solid rgb(44, 88, 230);
}

.segundo-section em {
    color: rgb(44, 88, 230);
}

/* Testimoniales */
aside {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2rem;
}

.quote-section {
    /* width: auto; */
    background-color: rgb(44, 88, 230);
    color: white;
    font-size: 1.8rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    transform: skewX(-10deg);
    font-weight: 600;
}

.quote-section span {
    font-size: 3rem;
}

.quote-section p {
    text-align: right;
    margin-right: 3rem;
    font-style: italic;
    font-weight: 500;
}

blockquote {
    margin: 0px 3rem;
}


/**FOOTER**/
footer {
    padding: 2rem;
    color: white;
    background-color: rgb(59, 59, 59);
}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.footer-items {
    margin: 2rem;
}

.footer-items a,
.footer-items p {
    margin: 0 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.footer-items a:hover {
    color: rgb(77, 208, 248);
    font-weight: 600;
}

/* =========================== CONTACTO ===========================*/
.container-contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 2rem;
    background-size: cover;
    background-image: url(/img/destacada2.jpg);
    text-align: center;
    min-height: 110vh;
    padding-top: 3rem;
}

.container-contact h2 {
    color: rgb(50, 187, 241);
    background-color: rgba(58, 58, 58, 0.8);
}

.contacto {
    align-self: center;
    min-width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 2rem;
    text-align: left;
    background-color: rgba(58, 58, 58, 0.8);
    border-radius: 1rem;
    color: white;
    padding: 3rem;
}

.contacto.hiddenFrame {
    animation: fade-out .3s forwards;
}

.form-item {
    margin: 4rem;
}

.form-item input,
.form-item select,
.form-item textarea {
    color: white;
    background: none;
    border: none;
    border-bottom: 1px solid white;
}

.form-item .select-option {
    background: none;
    color: black;
}

.form-item textarea {
    border: 1px solid white;
}

.form-item ::placeholder {
    color: white;
}

.form-item input {
    height: 2rem;
}

.name-feedback,
.lastName-feedback,
.email-feedback,
.country-feedback,
.text-comment-feedback {
    /*text-align: center !important;*/
    color: rgb(194, 112, 112);
    font-size: 1.3rem;
}

.name-feedback span,
.lastName-feedback span,
.email-feedback span,
.country-feedback span,
.text-comment-feedback span {
    font-weight: 900;
}

.submit {
    display: flex;
    justify-content: center;
}

#btn-submit {
    background-color: rgb(44, 88, 230);
    color: aliceblue;
    border-radius: 1rem;
    padding: 1rem 3rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.msg-sent {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    background-color: rgba(48, 48, 48, 0.7);
    padding: 2rem;
    color: white;
}

.msg-sent h2 {
    background: none;
}

.msg-sent.showFrame {
    animation: slideInLeft 1.5s ease-in;
}

@keyframes fade-out {
    to {
        display: none;
        opacity: 0;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

/*======================= PAGINA NOSOTROS ======================*/
.container-us {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 110vh;
    width: 100%;
    padding: 0 20rem;
    scroll-behavior: smooth;
}

.container-us h2 {
    text-align: center;
    font-style: italic;
    font-size: 2.5rem;
    padding: 2rem 0rem;
}

.us-story {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

.us-story img {
    height: 40vh;
}

.us-story p {
    text-align: justify;
    width: 30vw;
}

/* ================= PAGINA ANUNCIOS ========================*/
.anuncios {
    text-align: center;
}

.anuncios h2 {
    text-align: center;
    padding-top: 2rem;
}

.anuncios .caracteristicas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}

.anuncios .caracteristicas .item-main {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: display-img;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

@keyframes display-img {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/* ====================== PAGINA VENTAS =====================*/

.sales-container {
    justify-content: center;
    margin: 3rem auto;
}

.sales-container h2 {
    text-align: right;
    font-style: italic;
}

.house-card {
    display: flex;
}

.house-card .info {
    background-color: rgb(224, 224, 224);
    padding: 14rem 0 0 7rem;

    font-weight: 600;
}

.house-card .info span {
    color: rgb(215, 141, 2);
}

.sale {
    text-decoration: none;
    padding: 1rem 3rem;
    margin-top: 10rem;
    display: block;
    text-align: center;
    background-color: rgb(44, 88, 230);
}

.attributes {
    font-size: 5rem;
    display: flex;
    justify-content: space-between;
    margin: 6rem 0;
    text-align: center;
}

.house-card-2 {
    display: flex;
    margin-bottom: 10rem;
}

.house-card-2 p {
    margin: 10rem 0 0 3rem;
    text-align: justify;
}

.house-card,
.house-card-2,
.attributes {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: display-img;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}



/* ESTILOS GLOBALES PARA OCULTAR O MOSTRAR */
.show {
    display: block;
}

.hidden {
    display: none;
}

a.page-selected {
    color: rgb(44, 88, 230);
}

.Navegacion a:hover {
    color: rgb(44, 88, 230);
}



/** =============================== MEDIA QUERYS ===========================*/
/* @media (max-width: 11880px) {
    .encuentra {
        height: 40vh;
    }

    .quote-section {
        padding-top: 2rem;
    }

    .quote img {
        position: relative;
        top: -5rem;
        left: 6rem;
    }


}

@media (max-width: 1790px) {
    .col-xlg-1 {
        width: 8.33%;
    }

    .col-xlg-2 {
        width: 16.66%;
    }

    .col-xlg-3 {
        width: 25%;
    }

    .col-xlg-4 {
        width: 33.33%;
    }

    .col-xlg-5 {
        width: 41.66%;
    }

    .col-xlg-6 {
        width: 50%;
    }

    .col-xlg-7 {
        width: 58.33%;
    }

    .col-xlg-8 {
        width: 66.66%;
    }

    .col-xlg-9 {
        width: 75%;
    }

    .col-xlg-10 {
        width: 83.33%;
    }

    .col-xlg-11 {
        width: 91.66%;
    }

    .col-xlg-12 {
        width: 100%;
    }

    .section-mas .item-caracteristicas {
        margin: 0 1rem;
    }

    .encuentra {
        height: 50vh;
    }


    .us-story {
        d
    }

    .us-story img {}

    .us-story p {}
} */

@media (max-width: 1199px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }   

    .section-mas .item-caracteristicas {
        margin: 0 1rem;
    }

    .encuentra {
        height: 50vh;
    }

    .segundo-section article {
        flex-direction: row;
        margin: 1rem 0 1rem 0 auto;
    }

    .quote-section {
        padding-top: 2rem;
    }

    .quote img {
        position: relative;
        top: -11rem;
        left: 4.5rem;
    }

    .container-us {
        padding: 10rem;
        align-items: stretch;
    }

    .us-story {
        display: flex;
        flex-flow: column nowrap;
        align-self: stretch;
        gap: 2rem;
    }

    .us-story img {
        height: auto;
        width: 100%;
        min-width: 50vw;
    }

    .us-story p {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

    .segundo-section {
        flex-direction: column;
    }

    .caracteristicas {
        flex-direction: column;
    }

    .item-main {
        margin: 1rem auto;
    }

    .encuentra {
        height: 60vh;
    }

    .segundo-section article {
        box-shadow: 1rem 1rem rgba(138, 138, 138, .2);
        margin-bottom: 1rem;
    }

    .quote img {
        position: relative;
        top: -4.5rem;
        left: 5.5rem;
    }
}

@media (max-width: 767px) {
    .col-s-0 {
        display: none;
    }

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
    
    .Navegacion {
        display: none;
    }

    .section-mas .caracteristicas,
    .segundo-section article {
        flex-direction: column;
        margin: 0 auto;
    }

    .encuentra {
        height: 55vh;
    }

    .segundo-section article {
        box-shadow: 1rem 1rem rgba(138, 138, 138, .2);
        margin-bottom: 1rem;
    }

    .footer-items {
        flex-direction: column;
        margin: 1rem auto;
    }

    .footer-items .navegacion,
    .footer-items p {
        margin: 1rem auto;
    }

    .quote img {
        position: relative;
        top: -6rem;
        left: 6rem;
    }

    .container-us {
        padding: 2rem;
        align-items: stretch;
    }

    .us-story {
        display: flex;
        flex-flow: column nowrap;
        align-self: stretch;
        gap: 2rem;
    }

    .us-story img {
        height: auto;
        width: 100%;
        min-width: 50vw;
    }

    .us-story p {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .col-xs-0 {
        display: none;
    }

    .col-xs-1 {
        width: 8.33%;
    }

    .col-xs-2 {
        width: 16.66%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.33%;
    }

    .col-xs-5 {
        width: 41.66%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.33%;
    }

    .col-xs-8 {
        width: 66.66%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33%;
    }

    .col-xs-11 {
        width: 91.66%;
    }

    .col-xs-12 {
        width: 100%;
    }

    .section-mas .caracteristicas,
    .segundo-section article {
        flex-direction: column;
        margin: 0 auto;
    }

    .section-mas h2 {
        font-size: 2.5rem;
    }

    .encuentra {
        height: 65vh;
    }

    .segundo-section article {
        box-shadow: 1rem 1rem rgba(138, 138, 138, .2);
        margin-bottom: 1rem;
    }

    .footer-items {
        flex-direction: column;
        margin: 1rem auto;
    }

    .footer-items .navegacion,
    .footer-items p {
        margin: 1rem auto;
    }

    .quote-section {
        width: 100%;
    }

    .quote img {
        position: relative;
        top: -8rem;
        left: 4rem;
    }
}